.portfolio{
  margin-top: 50px;
  .wrap_portfolio{
    display: flex;
    justify-content: space-between;
  }
  .portfolio__block{
    align-self: center;
    width: 50%;
    h2{
      @extend %title;
      font-size: 40px;
      font-weight: 700;
    }
    span{
      color: red;
    }
    h3{
      @extend %title;
      font-family: $Open-sans;
      font-size: 14px;
      font-weight: 700;
      margin-top: 29px;
    }
    p{
      @extend %paragraph;
      font-family: $Open-sans;
      width: 350px;
      margin-top: 29px;
      margin-bottom: 29px;
    }
  }
}
