.snippets{
  height: 300px;
  .wrap-snippets{
      @extend %flex;
  }
  .snippets-block{
    margin-top: 80px;
    width: (100%/3);
    h2{
      @extend %title;
      font-size: 26px;
      width: 220px;
      font-weight: 700;
    }
    span{
      color:red;
    }
    p{
      @extend %paragraph;
      width: 260px;
      margin-top: 24px;
      margin-bottom: 29px;
    }
  }
}
